@import "../../index.scss";

.intro-body {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  & > *:last-child {
    margin-bottom: 3vh;
  }

  & > h2 {
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
  }
}
