$button-bg: #0e9f6e;
$button-hover-bg: #bcf0da;

.button {
  padding: 3.5%;
  background-color: $button-bg;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.1rem;

  &:hover {
    background-color: $button-hover-bg;
  }
}

.no-hover {
  pointer-events: none;
}

.incorrect {
  background-color: #a44a3f;
}

.correct {
  background-color: #2e933c;
}
