.modal {
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: row;
  & > * {
    margin: auto;
  }

  &-body {
    background-color: #def7ec;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 30vh;
    width: 30vw;

    & > * {
      margin-bottom: auto;
    }

    @media screen and (max-width: 768px) {
      margin: auto;
      min-height: 30vh;
      min-width: 40vw;
    }
  }

  &-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & > * {
      margin: auto;

      &:not(:last-child) {
        margin-bottom: 2vh;
      }
    }
  }
}
